.cardContainer{
    display:flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 20px 30px;
    width:fit-content;
    margin: 20px;
}

.btnCardUserContainer{
    display: flex;
    width: 100px;
    justify-content: space-between;

}

.cardUserP{
    font-family: 'Roboto';
    width: 300px;
    font-size: 20px;
    margin-right: 2px;
}

.cardUserRol{
    font-family: 'Roboto';
    width: 130px;
    font-size: 20px;
    color: green;
    margin-right: 0px;
}

.btnCardUser{
    background-color: rgba(0, 0,0,0);
    border: none;
    width: 40px;
}

.imgBtnCardUser{
    width: 40px;
}