
.carousel-container {
  width: 100%;
  background-color: rgba(56, 59, 88, 0.1);
  height: 600px;
  margin: 0 auto
}

.carousel-root {
  width: auto; /* Eliminar la altura máxima para que se ajuste automáticamente */
  max-height: none; /* Eliminar la altura máxima */
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slide img {
  /* max-height: 600px;  */
  width: 647px;
  /* width: 100%; */
  height: 600px;
  object-fit: cover;
}

.carousel .control-arrow {
  background-color: rgba(0, 0, 0, 0.5) !important; 
  border: none;
  border-radius: 50%;
  height: 8%;
  width: 6%;
  margin: 1%;
  align-self: center;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.carousel .control-arrow:hover {
  background-color: rgba(0, 0, 0, 1);
}
