.footerContainer {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 21px 19px;
  position: static;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  z-index: 10;
}

.aboutLink {
  position: static;
  bottom: 0;
  color: #c8ced7; 
  margin-left: 1350px;
  transition: color 0.3s; 
}

.aboutLink:hover {
  color: #ffff; 

}

@media screen and (min-width: 768px) {
  .footerContainer {
    display: flex;
    justify-content: space-between;
    padding: 14px 0 17px 21px;
    align-items: center;
  }
}