.footerContainer {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 21px 19px;
  position: static;
  bottom: 0;
  width: 100%; /* Ancho al 100% de la ventana del navegador */
  font-size: 24px;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .footerContainer {
    display: flex;
    justify-content: space-between;
    padding: 14px 0 17px 21px;
    align-items: center;
  }
}
