.searchContainer {
  background-color: var(--thirth-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 394px;
  width: 100%;
}

.selectCity {
  padding: 0 18px;
  border: none;
  border-radius: 5px;
  height: 40px;
  /* margin-bottom: 5px; */
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  outline: 0;
}

.selectCity:required:invalid {
  color: #666;
}
.selectCity option[value=''][disabled] {
  display: none;
}
.selectCity option {
  color: #000;
}

.searchBtn {
  width: 100%;
}

/* para la busqueda de paquetes */

.packageListContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchPackageContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  height: 50px;
  width: 500px;
  border: 1px solid #000000;
  margin-top: 20px;
  
}

.searchPackageInput {
  background-color: white;
  padding: 0 18px;
  border: none;
  border-radius: 5px;
  height: 40px;
  /* margin-bottom: 5px; */
  width: 70%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  outline: 0;
}

@media (min-width: 768px) {
  .searchContainer {
    height: 100px;
  }
  .searchTitle {
    max-width: 768px;
  }
  .searchForm {
    flex-direction: row;
    width: 100%;
    max-width: 768px;
    padding: 0 30px;
    /* padding: 0 149px; */
  }
  .searchBtn {
    max-width: 166px;
  }
}

@media (min-width: 1333px) {
  .searchContainer {
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  .selectCity {
    max-width: 200px;
  }
  .searchForm {
    max-width: 1330px;
  }
  .searchBtn {
    max-width: 180px;
  }
}
